@import '../../styles/globalStyles.scss';

.ShowResultsError {
    text-align: center;
    font-size: $sizeBig;
    color: $tertiaryColor;
    padding-top: sizeBig;
}

.ShowResultsLoading {
    text-align: center;
    font-size: $sizeBig;
    color: $secondaryColor;
    padding-top: sizeBig;
}

.ShowResults {
    padding: 0 $gridPadding;

    .listResults {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: $halfSizeSmall;
        grid-row-gap: $halfSizeSmall;
        width: 100%;
        list-style: none;



    }
}

@media (min-width: 576px) {
    .ShowResults {
        .listResults {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}