@import '../../styles/globalStyles.scss';

.CharacterCard {
    position: relative;

    .charImage {
        width: 100%;
        border-radius: $borderRadius;
    }

    .charData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .6);
        border-radius: $sizeBase;
        width: 100%;
        height: 100%;
        padding: $sizeBase;
        box-sizing: border-box;
        overflow: auto;

        &:hover {
            opacity: 1;
            border: $borderOK;
        }
    }

    .charTitle {
        @include smallTitle;
        color: $primaryColor;
        text-align: center;
    }

    .charText {
        @include smallText;
        color: $blankColor;
        text-align: center;
    }
}